{% include 'header.html' %}
<br>
<a href="{{url_for('create_folder')}}" class="btn btn-success">
	New Folder
</a>
<br>
<br>

<table class="table table-light table-striped">
	<thead class="thead-light">
		<tr>
			<th class="col-9">FolderName</th>
			<th class="col-3"></th>
		</tr>
	</thead>
	<tbody id='container-table'>
		{% for folder in folders %}
		<tr>
			<td>
				<a href="/{{folder[1]}}/items" class="text-reset">{{folder[1]}}</a>
			</td>
			<td>
				<a class="btn btn-warning" href="/edit_folder/{{folder[0]}}">Edit</a> |
				<a class="btn btn-danger" onclick="return confirm(' Are you sure you want to delete the folder?')"
					href="/destroy_folder/{{folder[0]}}">Delete</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% include 'footer.html' %}