{% include 'header.html' %}
<br>
{% if folder %}
<a href="/create/{{folder}}/item" class="btn btn-success">
	New Task
</a>
{% else %}
<a href="{{url_for('create_task')}}" class="btn btn-success">
	New Task
</a>
{% endif %}
<br>
<br>

<table class="table table-light table-striped">
	<thead class="thead-light">
		<tr>
			<th class="col-1"></th>
			<th class="col-8">TaskName</th>
			<th class="col-3"></th>
		</tr>
	</thead>
	<tbody id='container-table'>
		{% for task in tasks %}
		<tr>
			<td>
				<form method="post" action="/check_task" enctype="multipart/form-data">
					{% if task[2] == 0 %}
					<div class="form-group justify-content-center">
						<input type="hidden" value="{{task[0]}}" name="txtID" id="txtID">
						<input type="hidden" value="{{folder}}" name="txtNameFolder" id="txtNameFolder">
						<button type="submit" value="{{task[2]}}" name="txtCheck" id="txtCheck" class='btn-checkbox'>
							<input type="checkbox">
						</button>
					</div>
					{% else %}
					<div class="form-group justify-content-center">
						<input type="hidden" value="{{task[0]}}" name="txtID" id="txtID">
						<input type="hidden" value="{{folder}}" name="txtNameFolder" id="txtNameFolder">
						<button type="submit" value="{{task[2]}}" name="txtCheck" id="txtCheck" class='btn-checkbox'>
							<input type="checkbox" checked>
						</button>
					</div>
					{% endif %}
				</form>
			</td>
			<td>
				{{task[1]}}
			</td>
			<td>
				{% if folder %}
				<a class="btn btn-warning" href="/edit/{{folder}}/{{task[0]}}">Edit</a> |
				<a class="btn btn-danger" onclick="return confirm(' Are you sure you want to delete the task?')"
					href="/destroy/{{folder}}/{{task[0]}}">Delete</a>
				{% else %}
				<a class="btn btn-warning" href="/edit_task/{{task[0]}}">Edit</a> |
				<a class="btn btn-danger" onclick="return confirm(' Are you sure you want to delete the task?')"
					href="/destroy_task/{{task[0]}}">Delete</a>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% include 'footer.html' %}